<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="BazaSeminarskiRad" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=BazaSeminarskiRad;Integrated Security=True;" />
	</connectionStrings>
	<appSettings>
		<add key="port" value="9937"/>
	</appSettings>
</configuration>